.banner-container {
    background-image: url(../../images/portfploi_banner.jpg);
    background-repeat: no-repeat;
}

.banner {
    width: 85%;
}

.banner-text {
    position: fixed;
    top: 100px;
    left: 550px;
    width: 570px;
}

.download-resume-button {
    text-transform: uppercase;
    transition: all 0.5s;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.download-resume-button:before {
    content: "";
    position: absolute;
    bottom: 0;
    top: 0;
    right: 0;
    width: 0%;
    height: 100%;
    background-color: rgb(250 204 21);
    transition: all 0.5s;
    border-radius: 10rem;
    z-index: -1;
}

.download-resume-button:hover:before {
    width: 100%;
}